/* CSS Document */


/* GLOBAL HEADER STYLES */

.topHeader {
	width: 100%;
	text-align: center;
	}

.topHeader ul {
	position: relative;
	margin: 10px 15px;
}

.website {
	width: auto;
	font-size: 1.2vh;
	position: relative;
	margin-right: 110px;
	}

.pagePhrase {
	float: right;
	text-align: right;
	font-size: 2.8vh;
	width: 450px;
	position: absolute;
	right: 0;
	}

.topHeaderItem {
	display: inline-block;
	}

.bottomHeader {
	width: 100%;
	padding-top: 75px;
	}

.bottomHeader ul {
	padding: 0px;
}

.tab {
	height: inherit;
	background-color: #FFFFFF;
	}

.tab li {
	height: 18px;
	text-align: center;
}

.active {
	color: white;
	background-color: black;
	}

.active:hover {
	color: white;
	}

li {
	display: inline-block;
	text-transform: uppercase;
	font-size: calc(0.8em + 0.8vw);
	font-weight: bold;
	}

li a {
	color: #000000;
	text-decoration: none;
	padding: 0px 10px;
	}

li a:hover {
	color: #FF6700;
	}


/* MEDIA SPECIFIC STYLES */
@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}
